<div class="create-task-container">
  
  <mat-card  class="task-form">
    <mat-card-header>
      <mat-card-title>Create New Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-fields">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="newTask.todo" placeholder="Enter task title">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Create</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div> 